<ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
	</li>

	{% if site.harmony.social.github %}

	{% endif %}
</ul>
	<img src="../img/playstore.png" width="50" height="50"></img>
	<button type="button" onclick="location.href='https://play.google.com/store/search?q=cyb0512' ">Google Play Store</button>
	<img src="../img/youtube.png" width="50" height="50"></img>
	<button type="button" onclick="location.href='https://cndiqor0512.github.io/blog/youtube/youtube_index.html' ">YouotubeCloneCoding</button>
	<img src="../img/netflix.png" width="50" height="50"></img>
	<button type="button" onclick="location.href='https://cndiqor0512.github.io/blog/NetflixCloneCoding/netflix_index.html' ">NetflixCloneCoding</button>
